.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'Questrial', sans-serif;
  display: flex;
  margin: 0px;
  flex-direction: column;
  background-color: rgba(112, 144, 128, 0.2);

}


nav {
  background-color: rgb(112, 128, 144);
  border: solid 2px black;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: black;
  padding: 3px 5px;
}

nav ul li a:hover {
  background-color: rgba(112, 144, 128, 1);
}

nav ul li a.activo {
  background-color: rgba(112, 144, 128, 1);
}

main {
  flex: 1 0 auto;
}

.holder {
  max-width: 70%;
  margin: 0px auto;
}

.himg {
  width: 500px;
  height: auto;
  margin: 20px;
  float: right;
  border: solid 5px #709080;
  border-radius: 10%;
  box-shadow: 3px 2px 5px 1px rgba(112, 128, 144, 0.8);
}

h2 {
  font-size: 34px;
  color: rgb(112, 128, 144);
  text-shadow: 2px 1px 1px black;

}

h3{
  font-size: 26px;
  color: rgb(112, 128, 144);
  text-shadow: 2px 1px 1px black;
}

h4{
  font-size: 20px;
  color: rgb(112, 128, 144);
  text-shadow: 2px 1px 1px black;
}

p {
  font-size: 18px;
}
