<div id="containerback">
    <div id="containerlogin">
        <h1>Pagina Novedades</h1>
        <p>Bienvenido {{persona}}</p>
        <a class="btn btn-outline-secondary" href="/admin/login/logout" >Cerrar Session</a>
    </div>
</div>